@import "../../../assets/style/globals";

:host {
  width: 0;
  background-color:#333;
  border-right:1px solid rgba(255,255,255,0.25);
  padding: 0;
  color: $almost-white;
  * {
    margin-left: -150px;
    transition: 150ms linear margin-left;
  }

  &.open {
    width: $menu-width;
    transition: 250ms 100ms ease-out margin-left;

    * {
      margin-left: 0;
      padding: 5px;
    }

  }
}

.menu-item {
  cursor: pointer;
  font-family: 'Lato';
  text-align: center;
}