@import "../../assets/style/globals";
$md-font-url: "../../assets/font/";
@import "node_modules/ng2-material/dist/font.scss";
@import "node_modules/ng2-material/source/all.scss";

.app-wrapper {
  background-color: $almost-white;
  font-family: 'Raleway';
  font-size: 24px;;
  font-weight: 300;
  color: $almost-black;
}





