@import "../assets/style/globals";

html, body {
  background-color: $almost-white;
  font-family: 'Raleway';
  font-size: 24px;;
  font-weight: 300;
  color: $almost-black;
  overflow: hidden;
}





