@import "../../../assets/style/globals";

.nav-wrapper {
  height: $nav-height;
  background-color: #4A4B4B;
  color:white;
  position: relative;
  opacity: 0.95;

  .menu-toggle-button {
    width: 100px;
    transition: 150ms linear all;
    height: $nav-height;
    margin: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;

    &.open {
      background-color: #D0D1D1;

    }

    .inner {
      position:relative;
      top:5px;

      i {
        margin-right: 5px;
      }

      img.logo {
        display: block;
        height: 32px;
      }

    }

    &.open {
      width: $menu-width;
   //   background-color: $almost-white;

      .icon {
     //   color: $almost-black;
      }

    }

  }



}
